@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    
}

@mixin center-absolute {
    & {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}